@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* GENERAL THEME */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* BREAK LINES */
hr, .custom-hr {
  background-color: #2B547E;
  border-style: inset;
  height: 1.5px;
  width: auto;
}

/* HEADER */
.site-header {
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  padding: 21px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  position: sticky;
}

.main-nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.main-nav a:hover {
  color: #3a8bd8;
}

/*LOGO + TITLE SIDE-BY-SIDE*/
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.school-logo {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 1em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.page {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  position: relative;
}

/* RIGHT SIDE */
.right-section {
  max-width: 770px;
  margin-left: auto;
  z-index: 5;
}

.content {
  font-size: 39px;
  letter-spacing: 3px;
  color: white;
}

.contentp2 {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.description {
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;
  text-align: justify;
  text-indent: 50px;
}

/* TOPIC CARDS BELOW DESCRIPTION */
.topics-boxes1 {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.topics-boxes2 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.topic-container {
  background: white;
  padding: 10px;
  border-radius: 12px;
  transition: .2s;
  flex: 1 1 calc(50% - 20px);    
  min-width: 340px;              
  max-width: 220px;
  text-align: center;
}

.topicnumber {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.topic-container:hover {
  transform: scale(1.05);
}

.topic-container img {
  width: 330px;
  border-radius: 10px;
}

.big-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}