/* GENERAL THEME */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* HEADER */
.site-header {
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  padding: 21px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  position: sticky;
}

.main-nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.main-nav a:hover {
  color: #3a8bd8;
}

/*LOGO + TITLE SIDE-BY-SIDE*/
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.school-logo {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 1em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.hero-image {
  width: 100%; 
  height: 400px;
  background: url('https://i.imgflip.com/7ay0w0.jpg?a489792') center center no-repeat;
  box-shadow: 1px 1px 24px rgba(0,0,0,0.3);
  margin-bottom: 0; 
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-size: cover;
}

.hero-title {
  color: white;
  font-size: 50px; 
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); 
}

/*MEMBERS*/

.meeting h1{
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.members-section {
  padding: 10px 0;
}

.row {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 20px;
}

/* NEW TOPIC CARD */
.member-card {
  width: 28%;
  min-width: 300px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: 0.3s ease;
  cursor: pointer;
}

.member-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

/* IMAGE AREA */
.img-box img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
}

/* TITLE AREA */
.title-box {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #2b2b2b;
  background: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}
/*CREATOR MESSAGE*/

.main-content {
  display: flex;
  align-items: flex-start;
  max-width: 1050px;
  margin: 40px auto 40px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 24px rgba(0,0,0,0.2);
  padding: 40px 32px;
  gap: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  color: black;          
}
