/* GENERAL THEME */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FF6B6B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* HEADER */
.site-header {
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  padding: 21px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  position: sticky;
}

.main-nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

.main-nav a:hover {
  color: #3a8bd8;
}

/* LOGO + TITLE SIDE-BY-SIDE */
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.school-logo {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 1em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

/* HERO IMAGE */
.hero-image {
  width: 100%; 
  height: 800px;
  background: url('https://f.hubspotusercontent40.net/hubfs/4650993/New_Avast_Academy/Cybercrime/Cybercrime-Thumb-1.png') center center no-repeat;
  box-shadow: 1px 1px 24px rgba(0,0,0,0.3);
  margin-bottom: 0; 
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-size: cover;
}

.hero-title {
  color: white;
  font-size: 50px; 
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.no h1 {
  text-align: center;
  font-size: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/*EXPLANATION1*/
.explanation p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
}

/*MAIN*/

.main-content {
  max-width: 1050px;
  margin: 40px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 24px rgba(0,0,0,0.2);
  padding: 40px 32px;
  font-size: 20px;
  line-height: 1.6;
  color: black;
}

.main-content h2 {
    text-align: center;
}

/*EXPLANATION2*/
.explanation2 p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
}

/*MAIN2*/
.main-content2 {
  max-width: 1050px;
  margin: 40px auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 24px rgba(0,0,0,0.2);
  padding: 40px 32px;
  font-size: 20px;
  line-height: 1.6;
  color: black;
}

.main-content2 h2 {
    text-align: center;
}

/* BUTTONS */
.button {
  text-align: center; /* centers the button */
}

.button button {
  font-family: 'Poppins', sans-serif;
  padding: 15px 20px;
  background: #FF4747;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button button:hover {
  transform: scale(1.20);
}
